*
{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10%;
}
body{
    background-color: #000;
    position: right;
    height: 100%;
    width: 100vh;
}
.slider
{
    overflow: hidden;
    width: 10mm;
    height: 90mm;
    position: relative;
}
.slides{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 31s inherit;
}

.slider figure div
{
    float: left;
    width:20%;
}
.slides figure img
{
    width: 4mm;
    height: 4mm;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: inherit;
    float: left;
}
.slider figure
{
    position: relative;
    width: 1%;
    margin: 0;
    object-fit: cover;
    animation: cycleImages 20s inherit;
}
p
{
    position: fixed;
    color: #fff;
    font-size: 70px;
    text-align: center;
    padding-top: 250px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
}
@keyframes cycleImages
{
    25%{opacity: 1%;}
    40%{opacity:0;}
}